/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');

@font-face {
    font-family: 'Digital-7';
    src: local('Digital-7'),
    url(../fonts/font.ttf);
}
/*@font-face {*/
/*    font-family: 'Dosis';*/
/*    src: local('Dosis'),*/
/*    url(../fonts/dosis.ttf);*/
/*}*/

body {
    background-color: #EEEEEE;
    overflow: hidden;
    user-select: none;
}

#calculator {
    position: relative;
    width: 300px;
    margin-top: 167px;
    margin-left: 650px;
}

#calculator img {
    display: block;
    height: auto;
}

#button-container {
    position: absolute;
    top: 65px;
    left: 140px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* INPUT */
input[type="text"] {
    border: none;
    outline: none;
}

#display {
    background-color: #02554E;
    border-radius: 5px;
    color: #74FFFD;
    letter-spacing: 5px;
    text-align: right;
    font-family: 'Digital-7', sans-serif;
    width: 300px;
    height: 65px;
    font-size: 32px;

}

#display::placeholder {
    color: #74FFFD;
    opacity: 0.15;
}

/* BUTTONS */
.buttons {
    margin-top: 75px;
}

.button, #equals, #clear {
    position: relative;
    display: inline-block;
    font-size: 2em;
    width: 58px;
    height: 40px;
    background-color: #343837;
    border: 2px solid black;
    border-radius: 16px;
    color: #EEEEEE;
    cursor: pointer;
    font-family: 'Dosis', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    padding-bottom: 4px;
}

.button::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 11px;
}

.button:active {
    padding-bottom: 2px;
    transition: transform 0.1s ease;
}
.button:active > span {
    display: block;
    transform: translateY(-2px);
}

.button:active::before {
    top: 0;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 11px;
}

.custom {
    background-color: #448CCB;
}

#equals {
    background-color: #BE3B1E;
}

#equals:active {
    padding-bottom: 2px;
    transition: transform 0.1s ease;
}

#equals::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 11px;
}

#equals:active > span {
    display: block;
    transform: translateY(-2px);
}

#equals:active::before {
    top: 0;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 11px;
}

#clear {
    background-color: #4D4D4D;
    margin-top: 65px;
    height: 30px;
    font-size: 24px;
}

#clear:active {
    transition: transform 0.1s ease;
}

#clear::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 11px;
}

#clear:active > span {
    display: block;
    transform: translateY(-2px);
}

#clear:active::before {
    top: 0;
    left: 2px;
    right: 2px;
    bottom: 2px;
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 11px;
}